
<div class="jumbotron jumbotron-fluid text-center" id="jumbo-home">
  <div class="container" id="img-con">
    <h1 class="display-4 ">Alpha Blog</h1>
    <h3><p class="lead text-wrap" >This is a modified jumbotron that occupies the entire horizontal space of its parent.</p></h3>
    <button class="btn btn-light btn-lg">Sign Up!</button>
  </div>
</div>



