@import "bootstrap/scss/bootstrap";

.navbar{
  background-color: #1D6679 !important;
}
.nav-link{
  color: white !important;
}
#logo{
  float: left;
  font-size: 1.7em;
  color: #B9B2AA;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.navbar-toggler-icon{
  color: white !important;
}
#jumbo-home{
  margin: 20px;
  padding: 15%;
  background-image: asset_url('typewriter.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

html,
body{
  width: 100%;
  margin: 0;
  height: 100%;
}

#page-content{
  flex: 1 0 auto;
  background-color: #B9B2AA;
}

#sticky-footer{
  flex-shrink: none;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  background: #1D6679 !important;
}

#sticky-footer {
  flex-shrink: none;
}

#img-con{
  color: #1D6679;
  text-shadow: white 0px 0px 5px;
}

.card-title{
  color: whitesmoke !important;
  text-align: center;
}

#card-title-view{
  padding-top: 10px;
}